<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/utility-fragments :: common_header(~{::title}, ~{::link})}">
    <meta charset="UTF-8">
    <title>Change Password </title>

    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="container">
    <form   th:object="${changePasswordRequest}"
            th:action="@{/brs/auth/change-password}"
            class="form-signin">

        <div class="text-center mb-2">
            <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
                 height="72">
            <h1 class="h3 mb-3 font-weight-normal">Book Rental System</h1>
        </div>

        <div class="form-label-group">
            <input  readonly
                    th:field="*{email}"
                    name="username"
                    type="email" id="inputEmail" class="form-control" placeholder="Email address" required=""
                    autofocus="">
            <label for="inputEmail">Email address</label>
        </div>

        <div class="form-label-group">
            <input
                    th:field="*{newPassword}"
                    name="password"
                    type="password" id="inputPassword" class="form-control" placeholder="Password" >
            <label for="inputPassword">New Password</label>
        </div>

        <button class="btn btn-md btn-primary btn-block" type="submit">Change Password</button>

        <div class="form-label-group mt-2 text-center">
            <a th:href="@{/brs/auth/register}">Registration</a>
        </div>

        <div class="form-label-group mt-2 text-center">
            <a th:href="@{/brs/auth/login}">Login</a>
        </div>

    </form>
</div>

</body>
</html>