<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/utility-fragments :: common_header(~{::title}, ~{::link})}">
    <meta charset="UTF-8">
    <title>Register </title>

    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<div class="container">
    <form th:object="${registrationRequest}"
          th:action="@{/brs/auth/register/submit}"
          class="form-signin"
          method="post"
    >

        <div class="text-center mb-2">
            <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
                 height="72">
            <h1 class="h3 mb-3 font-weight-normal">Book Rental System</h1>
            <p>Rent your favourite book</p>
        </div>

        <div class="form-label-group">
            <input th:field="*{userName}"
                   th:classappend="*{#fields.hasErrors('userName')}? 'is-invalid'"
                   type="text" id="inputUserName" class="form-control" placeholder="eg: Jhon Doe"
            >

            <label for="inputUserName">User Name</label>
            <!--            <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" style="color: red" ></p>-->
            <div th:if="${#fields.hasErrors('userName')}" class="form-group">
                <i class="fa-solid fa-circle-exclamation" style="color: #a51d2d;"></i>
                <p th:errors="*{userName}" class="invalid-feedback"></p>
            </div>

        </div>

        <div class="form-label-group">
            <input th:field="*{email}"
                   th:classappend="*{#fields.hasErrors('email')}? 'is-invalid'"
                   type="email" id="inputEmail" class="form-control" placeholder="Email address"
            >
            <label for="inputEmail">Email address</label>

            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></p>

        </div>

        <div class="form-label-group">
            <input th:field="*{password}"
                   th:classappend="*{#fields.hasErrors('password')}? 'is-invalid'"
                   type="password" id="inputPassword" class="form-control" placeholder="Password">
            <label for="inputPassword">Password</label>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></p>

        </div>

        <button class="btn btn-md btn-primary btn-block" type="submit">Register New Account</button>

        <div class="form-label-group">
            <a th:href="@{/brs/auth/login}">Already have account?</a>
        </div>

        <p class="mt-1 mb-3 text-muted text-center">© 2017-2018</p>

    </form>
</div>

</body>
</html>