<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/utility-fragments :: common_header(~{::title}, ~{::link})}">
  <meta charset="UTF-8">
  <title>Verify Otp </title>

  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="container">
  <form
          th:method="POST"
          th:object="${verifyOtpRequest}"
          th:action="@{/brs/auth/verify-otp}"
          class="form-signin">

    <div class="text-center mb-2">
      <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
           height="72">
      <h1 class="h3 mb-3 font-weight-normal">Book Rental System</h1>
    </div>

    <div hidden class="form-label-group">
      <input
              th:field="*{email}"
              name="username"
              type="email" id="inputEmail" class="form-control" placeholder="Email address" required=""
              autofocus="">
      <label for="inputEmail">Email address</label>
    </div>

    <h6>Enter the OTP sent to your mail</h6>

    <div class="form-label-group">
      <input
              th:field="*{otp}"
              name="username"
              type="text" id="otp"
              th:classappend="${#fields.hasAnyErrors()}? 'is-invalid'"
              class="form-control" placeholder="otp" required=""
              autofocus="">
      <label for="otp">OTP</label>
      <span
              th:if="${#fields.hasErrors('otp')}"
              th:errors="*{otp}"
              class="invalid-feedback"
      >Field Error</span>
    </div>

    <button class="btn btn-md btn-primary btn-block" type="submit">Verify OTP</button>




    <div class="form-label-group mt-2 text-center">
      <a th:href="@{/brs/auth/register}">Registration</a>
    </div>

    <div class="form-label-group mt-2 text-center">
      <a th:href="@{/brs/auth/login}">Login</a>
    </div>

  </form>
</div>

<!-- Common Scripts-->
<th:block th:replace="~{fragments/utility-fragments :: common_scripts}"></th:block>

<div th:if="${message}"
     class="toast position-absolute floating-toast show" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header ">
    <img src="..." class="rounded me-2" alt="...">
    <strong class="me-auto"></strong>
    <small >1 min ago</small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div th:text="${message.message}" class="toast-body">
    Username or password not matching!
  </div>
</div>

</body>
</html>