<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/utility-fragments :: common_header(~{::title}, ~{::link})}">
    <meta charset="UTF-8">
    <title>Rent Book</title>

    <link rel="stylesheet" href="">
</head>
<body>

<!-- SIDEBAR MENU -->
<th:block th:replace="~{fragments/utility-fragments :: sidebar_toggle}"></th:block>
<th:block th:replace="~{fragments/off-canvas-menu :: side_menu}"></th:block>

<div class="container">

    <form th:action="@{/brs/library/book/rent/submit}" th:object="${transactionRequest}">
        <h1> Rent Book </h1>

        <div class="right">

        </div>

        <!--   SELECT BOOK NAME     -->
        <div class="form-group">
            <label for="bookId" class=""> Book Name</label>
            <select th:field="*{bookId}"
                    th:classappend="*{#fields.hasErrors('bookId')}? 'is-invalid'"
                    class="form-select mt-2" aria-label="Default select example"
                    id="bookId">
<!--                <option value="" disabled selected>&#45;&#45; select &#45;&#45;</option>-->
                <option th:each="book : ${bookList}"
                        th:value="${book.id}"
                        th:text="${book.bookName}"
                        th:id="${book.bookName}">
                </option>
            </select>
            <span th:if="${#fields.hasErrors('bookId')}"
                  th:errors="*{bookId}"
                  class="invalid-feedback"
            >Category error</span>
        </div>

        <!--   SELECT MEMBER    -->
        <div class="form-group">
            <label for="memberId" class=""> Member Name</label>
            <select th:field="*{memberId}"
                    th:classappend="*{#fields.hasErrors('memberId')}? 'is-invalid'"
                    class="form-select mt-2" aria-label="Default select example"
                    id="memberId">
                <option value="" disabled selected>-- select --</option>
                <option th:each="member : ${memberList}"
                        th:value="${member.id}"
                        th:text="${member.name}">
                </option>
            </select>
            <span th:if="${#fields.hasErrors('memberId')}"
                  th:errors="*{memberId}"
                  class="invalid-feedback"
            >Category error</span>
        </div>

        <!--   TOTAL RENTED DAYS    -->
        <div class="form-group">
            <label for="totalRentedDays">Rent for (days)</label>
            <input th:field="*{totalDays}"
                   min="1"
                   id="totalRentedDays"
                   th:classappend="*{#fields.hasErrors('totalDays')}? 'is-invalid'"
                   type="number" class="form-control" aria-describedby="authorEmailHelp"
                   placeholder="eg: 1024">
            <span th:if="${#fields.hasErrors('totalDays')}"
                  th:errors="*{totalDays}"
                  class="invalid-feedback"
            >Total Days error</span>
        </div>
        <div class="readonly-container">
            <!--   TRANSACTION-CODE    -->
            <div class="form-group">
                <label for="code">Code</label>
                <input th:field="*{code}"
                       id="code"
                       readonly
                       th:classappend="*{#fields.hasErrors('code')}? 'is-invalid'"
                       type="text" class="form-control" aria-describedby="authorEmailHelp"
                       placeholder="eg: Xf123kow">
                <span th:if="${#fields.hasErrors('code')}"
                      th:errors="*{code}"
                      class="invalid-feedback"
                >Code Error</span>
            </div>

            <!--   DATE OF RETURN    -->
            <div class="form-group">
                <label for="dateOfReturn">Date of Return</label>
                <input readonly type="date" id="dateOfReturn" class="form-control">
            </div>
        </div>


        <!--  Submit buttons -->
        <div class="form-group d-flex justify-content-between flex-fill mt-3 gap-2">
            <button type="submit" class="btn btn-success w-50">Rent It!</button>

            <button type="reset" class="btn btn-dark w-50"> Reset</button>
        </div>


    </form>

    <!-- floating toast -->
    <th:block
            th:replace="~{fragments/floating-toast-fragment :: floating_toast(errorResponse = ${errorResponse})}">
    </th:block>

    <!-- Toast Message -->
    <th:block
            th:replace="~{fragments/toast-msg-fragment :: toast_message(message = ${message}, type = ${messageType})}">
    </th:block>


</div>


<!-- Common Scripts-->
<th:block th:replace="~{fragments/utility-fragments :: common_scripts}"></th:block>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script>
    // generate code
    // $("#bookId").click(function(){
    //     $.ajax({url: "", success: function(result){
    //             $("#div1").html(result);
    //             console.log("clicked")
    //         }});
    // });

    let baseUrl = "http://localhost:8080/brs/library/book/";

    // get generated transaction code
    $("select#bookId").change(function () {

        var selectedBookName = $(this).children("option:selected").attr("id");

        $.ajax({
            url: "http://localhost:8080/brs/library/book/generate-code?bookName=" + selectedBookName,
            success: function (code) {
                $("#code").val(code);
                console.log("woah code generated")
            }
        });
        // alert("You have selected the country - " + selectedBookName);
    });

    // get predicted return date
    $("#totalRentedDays").blur(function () {
        var givenDays = $(this).val();

        $.ajax({
            url: baseUrl + "get-return-date?totalDays=" + givenDays, success: function (expiryDate) {
                $("#dateOfReturn").val(expiryDate);
                console.log("woah expiry date generated")
            }
        })
    })
</script>

</body>
</html>