<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/utility-fragments :: common_header(~{::title}, ~{::link})}">
    <meta charset="UTF-8">
    <title>Return Book</title>

    <link rel="stylesheet" href="">

</head>
<body>

<!-- SIDEBAR MENU -->
<th:block th:replace="~{fragments/utility-fragments :: sidebar_toggle}"></th:block>
<th:block th:replace="~{fragments/off-canvas-menu :: side_menu}"></th:block>

<style>
    .hidden-form {
        border: solid red;
        margin-bottom: 2px;
        display: none;
    }
</style>

<div class="container">

    <form th:action="@{/brs/library/book/return/submit}" th:object="${bookReturnRequest}">
        <h1> Return Book </h1>

        <input type="text" th:field="*{id}" hidden>

        <!--   CODE FILTER     -->
        <input type="codeInput" name="code" id="codeInput">


        <select class="card" th:field="*{code}" id="codeSelect">
            <option value="" selected>Open this select menu</option>
        </select>

        <!-- verify transaction details -->
        <!-- value placed through jquery -->
        <div class="verify-details" th:object="${transactionResponse}">
            <div class="form-group">
                <label for="bookName">Book Name</label>
                <input
                        th:value="${bookName}"
                        disabled
                        type="text" class="form-control" id="bookName">
            </div>

            <div class="form-group">
                <label for="memberName">Member Name</label>
                <input
                       th:value="${memberName}"
                       disabled
                       type="text" class="form-control" id="memberName">
            </div>
            <!-- VIEW RENTED DATE-->
            <div class="form-group">
                <label for="rentFrom">Book Rented From</label>
                <input
                        disabled
                        th:value="${rentedDate}"
                        type="text" class="form-control" id="rentFrom" placeholder="eg: Rich Dad Poor Dad">
            </div>

            <div class="form-group">
                <label for="rentTo">Book Rented Expiration</label>
                <input
                        disabled
                        th:value="${expiryDate}"
                        type="text" class="form-control" id="rentTo" placeholder="">
            </div>
        </div>



        <!--  Submit buttons -->
        <div class="form-group d-flex justify-content-between flex-fill mt-3 gap-2">
            <button type="submit" class="btn btn-success w-50">Return It!</button>

            <button type="reset" class="btn btn-dark w-50"> Reset</button>
        </div>


    </form>


</div>

<!-- for jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script>
    let baseUrl = "http://localhost:8080/brs/library/book/";

    // get filtered code based on input
    $("#codeInput").change(function () {
        let partialCode = $(this).val();
        console.log("partial code ", partialCode);

        if(partialCode === "") return;
        $.ajax({
            type: "GET",
            url: baseUrl + "return/filter" + "?filterValue=" + partialCode,
            // Data: JSON.stringify(this.filterData),
            success: function (codeList) {
                for (let i = 0; i < codeList.length; i++) {
                    let code = codeList[i];
                    console.log("code from server : ", code);
                   $("#codeSelect").append(new Option(code, code ));

                   // $("#codeContainer").append(`<li "${code}">${code}</li>`)
                   //  $("#codeContainer").css("display", "block");
                }
                console.log("woah code extracted from server");
            }
        })
    })

    // get transaction verification
    $("select#codeSelect").change(function () {

        var selectedCode = $(this).children("option:selected").attr("value");

        $.ajax({
            url: "http://localhost:8080/brs/library/book/return/verify" + "?code=" + selectedCode,
            success: function (details) {
                $("#bookName").val(details?.bookName)
                $("#rentTo").val(details?.expiryDate);
                $("#rentFrom").val(details?.rentedDate);
                $("#id").val(details?.id);
                $("#codeSelect").val(details?.code);
                $("#memberName").val(details?.memberName);
                console.log("woah transaction generated", details)
            }
        });
        // alert("You have selected the country - " + selectedBookName);
    });

</script>


<!-- Common Scripts-->
<th:block th:replace="~{fragments/utility-fragments :: common_scripts}"></th:block>

</body>
</html>