<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/utility-fragments :: common_header(~{::title}, ~{::link})}">
    <meta charset="UTF-8">
    <title>Transactions View</title>

    <link rel="stylesheet" href="">
</head>
<body>

<!-- SIDEBAR MENU -->
<th:block th:replace="~{fragments/utility-fragments :: sidebar_toggle}"></th:block>
<th:block th:replace="~{fragments/off-canvas-menu :: side_menu}"></th:block>

<div class="container">

    <h1>Transaction Details</h1>

    <a th:href="@{/brs/excel/export-to-excel}" class="btn btn-md btn-info export-btn">
        Export All
        <i class="fa-solid fa-file-excel"></i>
    </a>

    <div class="row">
        <div class="col-md-6">
            <form
                    action="/brs/library/book/filter/filter-by-date"
                    th:method="POST"
                    th:object="${filterTransaction}"
                    class="d-flex m-2 justify-content-between"
            >
                <div class="form-input-group d-flex align-items-center gap-3 justify-content-between">
                    <label for="from" class="required">From:</label>
                    <input
                            th:field="*{from}"
                            th:classappend="${errorResponse}? 'is-invalid'"
                            class="form-control"
                            type="date" id="from">

                </div>

                <div class="form-input-group d-flex align-items-center gap-3 justify-content-between">
                    <label for="to">To:</label>
                    <input type="date"
                           th:field="*{to}"
                           class="form-control"
                           id="to">
                </div>

                <button type="submit" class="btn btn-info"><i class="fa-solid fa-filter"></i></button>
            </form>
        </div>
    </div>

    <div class="row">


        <div class="col-md-12">
            <table class="table table-primary table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">S.N</th>
                    <th scope="col">Code</th>
                    <th scope="col">Rented</th>
                    <th scope="col">Expiry</th>
                    <th scope="col">Status</th>
                    <th scope="col">Member</th>
                    <th scope="col">BookName</th>
                    <!--                    <th scope="col" class="th-sm">Action</th>-->
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="categoriesList" type="List<CategoryResponse>"*/-->


                <th:block th:if="!${#lists.isEmpty(transactionList)}">
                    <tr th:each="trn, index :${transactionList}">

                        <th th:text="${index.count}" scope="row">count</th>
                        <th th:text="${trn.code}">Transaction Code</th>
                        <td th:text="${trn.rentFrom}">Rented Date</td>
                        <td th:text="${trn.rentTo}">Rent Expiry</td>

                        <td th:text="${trn.rentStatus}">Rent status</td>
                        <td th:text="${trn.memberName}">Member</td>
                        <td th:text="${trn.bookName}">Book Name</td>

                    </tr>
                </th:block>
                <th:block th:if="${#lists.isEmpty(transactionList)}">
                    <td colspan="7">No results found!</td>
                </th:block>


                </tbody>
            </table>

            <nav th:if="!${#lists.isEmpty(transactionList)}"
                 aria-label="Page navigation example">
                <ul class="pagination">
                    <li th:if="${currentPage > 0}"
                        class="page-item">
                        <a th:if="${fromDate}"
                           th:href="@{'/brs/library/book/page/' + ${currentPage - 1 }} + '?fromDate=' + *{fromDate} + '&toDate=' + *{toDate}"
                           class="page-link"
                           th:classappend="${currentPage <= 1}? 'disabled':''"
                        >Previous</a>
                        <a th:if="!${fromDate}"
                           th:href="@{'/brs/library/book/page/' + ${currentPage - 1}}"
                           class="page-link"
                           th:classappend="${currentPage <= 1}? 'disabled':''"
                        >Previous</a>
                    </li>
                    <li th:each="i: ${#numbers.sequence(1, totalPages)}"
                        class="page-item">

                        <th:block th:if="${fromDate}">
                            <a th:href="@{'/brs/library/book/page/' + ${i}} + '?fromDate=' + *{fromDate} + '&toDate=' + *{toDate}"
                               class="page-link"
                               th:classappend="${currentPage == i}?'active':''"
                            >[[${i}]]</a>
                        </th:block>
                        <th:block th:if="!${fromDate}">
                            <a th:href="@{'/brs/library/book/page/' + ${i}}"
                               class="page-link"
                               th:classappend="${currentPage == i}?'active':''"
                            >[[${i}]]</a>
                        </th:block>

                    </li>
                    <li class="page-item">
                        <a th:if="${fromDate}"
                           th:href="@{'/brs/library/book/page/' + ${currentPage + 1 }} + '?fromDate=' + *{fromDate} + '&toDate=' + *{toDate}"
                           class="page-link"
                           th:classappend="${currentPage >= totalPages}?'disabled':''"
                        >Next</a>
                        <a th:if="!${fromDate}"
                           th:href="@{'/brs/library/book/page/' + ${currentPage + 1}}"
                           class="page-link"
                           th:classappend="${currentPage >= totalPages}?'disabled':''"
                        >Next</a>
                    </li>
                </ul>
            </nav>


        </div>

        <!-- floating toast -->
        <th:block
                th:replace="~{fragments/floating-toast-fragment :: floating_toast(errorResponse = ${errorResponse})}">
        </th:block>

        <!-- toast message -->
        <!--        <th:normal-toast-->
        <!--                th:replace="~{fragments/toast-msg-fragment :: toast_message(message=${message}, type=${type})}">-->
        <!--        </th:normal-toast>-->


    </div>


    <!-- Common Scripts-->
    <th:block th:replace="~{fragments/utility-fragments :: common_scripts}"></th:block>


</body>
</html>