<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/utility-fragments :: common_header(~{::title}, ~{::link})}">
    <meta charset="UTF-8">
    <title>Transactions View</title>

    <link rel="stylesheet" href="">
</head>
<body>

<!-- SIDEBAR MENU -->
<th:block th:replace="~{fragments/utility-fragments :: sidebar_toggle}"></th:block>
<th:block th:replace="~{fragments/off-canvas-menu :: side_menu}"></th:block>

<div class="container">

    <h1>Transaction Details</h1>

    <a th:href="@{/brs/excel/export-to-excel}" class="btn btn-md btn-info export-btn">
        Export
        <i class="fa-solid fa-file-excel"></i>
    </a>

    <div class="row">

        <div class="col-md-12">
            <table class="table table-primary table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">S.N</th>
                    <th scope="col">Code</th>
                    <th scope="col">Rented</th>
                    <th scope="col">Expiry</th>
                    <th scope="col">Status</th>
                    <th scope="col">Member</th>
                    <th scope="col">BookName</th>
                    <!--                    <th scope="col" class="th-sm">Action</th>-->
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="categoriesList" type="List<CategoryResponse>"*/-->
                <tr th:each="trn, index :${transactionList}">
                    <!--                    <th th:text="${book.id}" hidden></th>-->
                    <th th:text="${index.count}" scope="row">count</th>
                    <th th:text="${trn.code}">Transaction Code</th>
                    <td th:text="${trn.rentFrom}">Rented Date</td>
                    <td th:text="${trn.rentTo}">Rent Expiry</td>

                    <td th:text="${trn.rentStatus}">Rent status</td>
                    <td th:text="${trn.memberName}">Member</td>
                    <td th:text="${trn.bookName}">Book Name</td>
                </tr>

                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li th:if="${currentPage > 0}"
                            class="page-item">
                        <a th:href="@{'/brs/library/book/page/' + ${currentPage - 1}}"
                                class="page-link"
                           th:classappend="${currentPage <= 1}? 'disabled':''"
                        >Previous</a>
                    </li>
                    <li th:each="i: ${#numbers.sequence(1, totalPages)}"
                            class="page-item">
                        <a  th:href="@{'/brs/library/book/page/' + ${i}}"
                                class="page-link"
                           th:classappend="${currentPage == i}?'active':''"
                        >[[${i}]]</a>
                    </li>
<!--                    <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                    <li class="page-item">
                        <a  th:href="@{'/brs/library/book/page/' + ${currentPage + 1}}"
                                class="page-link"
                           th:classappend="${currentPage >= totalPages}?'disabled':''"
                        >Next</a>
                    </li>
                </ul>
            </nav>


<!--            <div th:if="${totalPages > 1}">-->
<!--                <div class="row col-sm-10">-->
<!--                    <div class="col-sm-2">-->
<!--                        Total Rows: [[${totalItems}]]-->
<!--                    </div>-->
<!--                    <div class="col-sm-1">-->
<!--            <span th:each="i: ${#numbers.sequence(1, totalPages)}">-->
<!--      <a th:if="${currentPage != i}" th:href="@{'/brs/library/book/page/' + ${i}}">[[${i}]]</a>-->
<!--      <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;-->
<!--            </span>-->
<!--                    </div>-->
<!--                    <div class="col-sm-1">-->
<!--                        <a th:if="${currentPage < totalPages}" th:href="@{'/brs/library/book/page/' + ${currentPage + 1}}">Next</a>-->
<!--                        <span th:unless="${currentPage < totalPages}">Next</span>-->
<!--                    </div>-->

<!--                    <div class="col-sm-1">-->
<!--                        <a th:if="${currentPage < totalPages}" th:href="@{'/brs/library/book/page/' + ${totalPages }}">Last</a>-->
<!--                        <span th:unless="${currentPage < totalPages}">Last</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


        </div>

        <!-- floating toast -->
        <th:block
                th:replace="~{fragments/floating-toast-fragment :: floating_toast(errorResponse = ${errorResponse})}">
        </th:block>

        <!-- toast message -->
        <th:normal-toast
                th:replace="~{fragments/toast-msg-fragment :: toast_message(message=${message}, type=${type})}">

        </th:normal-toast>


    </div>


    <!-- Common Scripts-->
    <th:block th:replace="~{fragments/utility-fragments :: common_scripts}"></th:block>


</body>
</html>