<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/utility-fragments :: common_header(~{::title}, ~{::link})}">
    <meta charset="UTF-8">
    <title>Create Author</title>

    <link rel="stylesheet" href="">
</head>
<body>
<!-- SIDEBAR MENU -->
<th:block th:replace="~{fragments/utility-fragments :: sidebar_toggle}"></th:block>
<th:block th:replace="~{fragments/off-canvas-menu :: side-menu}"></th:block>

<div class="container">


    <div class="row">
        <div class="col-md-8">
            <table class="table table-primary table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">S.N</th>
                    <th scope="col">Author Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col" class="th-sm">Action</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="categoriesList" type="List<CategoryResponse>"*/-->
                <tr th:each="author, index :${authorList}">
                    <th th:text="${author.id}" hidden></th>
                    <th th:text="${index.count}" scope="row">1</th>
                    <td th:text="${author.name}">Mark</td>
                    <td th:text="${author.email}">Otto</td>
                    <td th:text="${author.mobileNumber}">9812XXXXXX</td>
                    <td>
                        <a th:href="@{/brs/admin/author/delete/} + ${author.id}"
                           class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a>
                        <a th:href="@{/brs/admin/author/} + ${author.id} + '/edit'"
                           class="btn btn-sm btn-warning">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

        <div class="col-md-4">
            <div class="card my-form">
                <!-- base form -->
                <th:block th:replace="~{base-form.html :: author_form(authorRequest = ${authorRequest})}"></th:block>
            </div>
        </div>

    </div>
</div>

<!-- Databasse Error message -->
<p th:if="${errorResponse}" th:text="${errorResponse}"></p>

<!-- floating toast -->
<th:block
        th:replace="~{fragments/floating-toast-fragment :: floating_toast(errorResponse = ${errorResponse})}">
</th:block>


<!-- Toast Message -->
<th:block
        th:replace="~{fragments/toast-msg-fragment :: toast_message(message = ${message}, type = ${messageType})}">
</th:block>

<!-- Common Scripts-->
<th:block th:replace="~{fragments/utility-fragments :: common_scripts}"></th:block>


</body>
</html>