<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
>


<div th:fragment="side_menu"
     class="offcanvas offcanvas-start side-menu"
     tabindex="-1"
     id="offcanvasExample"
     aria-labelledby="offcanvasExampleLabel"
>
    <div class="offcanvas-header">
        <h6 class="offcanvas-title" id="offcanvasExampleLabel">
            Book Rental System
        </h6>
        <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
        ></button>
    </div>

<!--    ROLE_ADMIN,-->
<!--    ROLE_LIBRARIAN,-->
<!--    ROLE_SUPER_ADMIN-->

    <div class="offcanvas-body d-flex flex-column">
        <!-- ALTERNATE MENU OPTION -->
        <div sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_SUPER_ADMIN')"
                class="card mt-2 menu-header" style="width: 18rem">
            <div class="card-header">Master Data Setup</div>
            <ul class="list-group list-group-flush">
                <li><a class="list-group-item" th:href="@{/brs/admin/category/}">Category Setup</a></li>
                <li><a class="list-group-item" th:href="@{/brs/admin/author/}">Author Setup</a></li>
                <li><a class="list-group-item" th:href="@{/brs/admin/member/}">Customer Setup</a></li>
                <li><a class="list-group-item" th:href="@{/brs/admin/book/}">Book Setup</a></li>
                <li><a class="list-group-item" th:href="@{/brs/admin/book/inventory}">View Book Inventory</a></li>
                <li><a class="list-group-item" th:href="@{/brs/library/book/}">Transaction View</a></li>
            </ul>
        </div>

        <hr class="divider"/>

        <div    sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_LIBRARIAN', 'ROLE_SUPER_ADMIN')"
                class="card menu-header" style="width: 18rem">
            <div class="card-header">Transaction</div>
            <ul class="list-group list-group-flush">
                <li><a class="list-group-item" th:href="@{/brs/library/book/rent}">Rent a Book</a></li>
                <li><a class="list-group-item" th:href="@{/brs/library/book/return}">Return Book</a></li>
            </ul>
        </div>
    </div>


    <div class="d-flex gap-2 justify-content-between p-2">
        <!-- PROFILE IMAGE -->
        <div class="profile-container">
            <div class="position-relative profile-header">
                <img th:src="@{/img/profile.jpeg}"
                     alt="" class="profile-img"/>
                <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger p-2"></span>
                <span class="visually-hidden">New alerts</span>

            </div>
        </div>

        <!-- UserName -->
        <p sec:authentication="principal.username"
                class="flex-fill text-center mb-0 pt-2">Shashi Panta</p>

        <button
                type="button"
                class="btn  dropdown-toggle dropdown-toggle-split rounded-0"
                data-bs-toggle="dropdown"
                aria-expanded="false"
        >
            <span class="visually-hidden"><i class="fa-solid fa-right-from-bracket"></i></span>
        </button>


        <ul class="dropdown-menu">
<!--            <li><a class="dropdown-item" href="#">Profile</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Change Password</a></li>-->
            <li>
                <hr class="dropdown-divider"/>
            </li>
            <li><a class="dropdown-item" th:href="@{/logout}">LogOut</a></li>
        </ul>
    </div>
</div>

