:root {
    /* GLOBAL DECLARATIONS */
    --clr-bg-primary: #b31312;
    --bs-offcanvas-width: max-content !important;
}

.card ul > li {
    list-style: none;
}

.container > .side-menu {
    max-width: fit-content;
}

.menu-header {
    background: var(--clr-bg-primary);
    color: white;
}

/*.top-nav {*/
/*    padding-block: .5em;*/
/*    background: var(--clr-bg-primary);*/
/*    color: white;*/
/*    margin-bottom: 20px;*/
/*}*/

/* FOR REQUIRED LABELS */
.required:after {
    content:" *";
    color: red;
}

.top-nav {
    padding: .4em 8em;
    background: var(--clr-bg-primary);
    color: white;
    margin-bottom: 2em;
}
.top-nav h1{
    margin-bottom: 0;
}

.top-nav a{
    text-decoration: none;
    color: white;
}

/* clear defaults */
.profile-header img {
    width: 100%;
    height: 100%;
}

.profile-header {
    width: 3em;
    aspect-ratio: 1/1;
}

.profile-img {
    /* border-radius: 50%; */
    object-fit: cover;
}


/* FILTER CONPONENT */
.filter-container {
    border: solid 1px black;
    /*background: var(--clr-bg-primary);*/
    width: 100%;
    color: white;
    margin-block: 1em;
    display: flex;
    justify-content: space-between;
}

.filter-container input {
    border: none;
    outline: none;
    padding: .5em 1em;
}

/* action buttons in table */
.action-menu {
    width: max-content;
}


/* form  */
.my-form{
    padding: 1em;
    border: solid 1px green;
}

/* hamburger menu*/
.fa-sharp.fa-solid.fa-bars.ham-menu {
    color: white;
    font-size: 1.5em;
}

.floating-toast{
    right: 8em;
    bottom: .5em;
}


/* return book form */
.hidden-form{
    display: none;
}

.shown-form{
    display: block;
}

/* rating */
.rating-golden{
    color: gold;
    font-size: 1em;
}

.book-container {
    display: flex;
    gap: 2em;
}

.readonly-container{
    display: flex;
    gap: 2em;
}

.long-desc{
    max-width: 400px;
}

/* export button on transaction view page */
.btn.btn-md.btn-info.export-btn{
    position: absolute;
    right: 8em;
    top: 5em;
}