<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragments/utility-fragments :: common_header(~{::title}, ~{::link})}">
    <meta charset="UTF-8">
    <title>Category Setup</title>
    <link rel="stylesheet" href="@{}">
</head>
<body>

<!-- SIDEBAR MENU -->
<th:block th:replace="~{fragments/utility-fragments :: sidebar_toggle}"></th:block>
<th:block th:replace="~{fragments/off-canvas-menu :: side_menu}"></th:block>

<div class="container">


    <!-- category list -->
    <h4>Available Categories</h4>

    <div class="table-responsive">

        <div class="filter-container">
            <form action="" class="d-flex align-items-center gap-2 search-form">
                <input type="text" placeholder="Filter by ..">
                <i class="fa-solid fa-filter"></i>
            </form>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                Create New Category
            </button>

        </div>

        <table class="table table-primary table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">S.N</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col" class="th-sm">Action</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="categoriesList" type="List<CategoryResponse>"*/-->
            <tr th:each="category, index :${categoriesList}">
                <th th:text="${category.id}" hidden></th>
                <th th:text="${index.count}" scope="row">1</th>
                <td th:text="${category.name}">Mark</td>
                <td th:text="${category.description}">Otto</td>
                <td>
                    <a class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a>
                    <a th:href="@{/brs/admin/category/} + ${category.id} + '/edit'"
                       class="btn btn-sm btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>
            <!--            <tr>-->
            <!--                <th scope="row">2</th>-->
            <!--                <td>Jacob</td>-->
            <!--                <td>Thornton</td>-->
            <!--                <td>@fat</td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--                <th scope="row">3</th>-->
            <!--                <td colspan="2">Larry the Bird</td>-->
            <!--                <td>@twitter</td>-->
            <!--            </tr>-->
            <!--            </tbody>-->
        </table>


    </div>

    <!--    pagination -->
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

    <!-- floating toast -->
    <th:block
            th:replace="~{fragments/floating-toast-fragment :: floating_toast(errorResponse = ${errorResponse})}">
    </th:block>

    <!-- Modal -->

    <div class="modal fade" th:classappend="${showModal}?'show':''" id="staticBackdrop"
         data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/brs/admin/category/save}" th:object="${categoryRequest}">
                    <div class="modal-header">
                        <th:block th:if="${showModal}">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Update category</h1>
                        </th:block>
                        <th:block>
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Create New category</h1>

                        </th:block>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <input type="text" th:field="*{id}" hidden>

                        <div class="form-group">
                            <label for="categoryName">Category Name</label>
                            <input th:field="*{name}" type="text" class="form-control" id="categoryName"
                                   placeholder="eg:Science & Technology">
                            <span th:if="${#fields.hasErrors('name')}" th:errors="${name}"></span>
                        </div>
                        <div class="form-group">
                            <label for="categoryDescription">Description</label>
                            <textarea th:field="*{description}" class="form-control" id="categoryDescription"
                                      rows="3"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit"
                                class="btn btn-sm" th:classappend="!${showModal}?'btn-success':'btn-warning'"
                                th:text="${showModal}?'Update':'Create'"
                        >Create
                        </button>
                        <button type="reset" class="btn btn-sm btn-info">Reset</button>
                    </div>
                </form>
            </div>

        </div>
    </div>


    <th:block th:insert="~{fragments/utility-fragments :: common_scripts}"></th:block>


</div>

</body>
</html>