<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragments/utility-fragments :: common_header(~{::title}, ~{::link})}">
    <meta charset="UTF-8">
    <title>Category Setup</title>
    <link rel="stylesheet" href="@{}">
</head>
<body>

<!-- SIDEBAR MENU -->
<th:block th:replace="~{fragments/utility-fragments :: sidebar_toggle}"></th:block>
<th:block th:replace="~{fragments/off-canvas-menu :: side_menu}"></th:block>

<div class="container">


    <!-- category list -->
    <h4>Available Categories</h4>

    <div
            class="table-responsive">

        <div class="filter-container" style="background: white; border: none;">
<!--            <form action="" class="d-flex align-items-center gap-2 search-form">-->
<!--                <input type="text" placeholder="Filter by ..">-->
<!--                <i class="fa-solid fa-filter"></i>-->
<!--            </form>-->

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                Create New Category
            </button>

        </div>

        <table class="table table-primary table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">S.N</th>
                <th scope="col">Name</th>
                <th scope="col" class="long-desc">Description</th>
                <th scope="col" class="th-sm">Action</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="categoriesList" type="List<CategoryResponse>"*/-->
            <tr th:each="category, index :${categoriesList}">
                <th th:text="${category.id}" hidden></th>
                <th th:text="${index.count}" scope="row">1</th>
                <td th:text="${category.name}">Mark</td>
                <td th:text="${category.description}" class="long-desc">Otto</td>
                <td>
                    <a th:href="@{/brs/admin/category/} + ${category.id} + '/delete'"
                       class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a>
                    <a th:href="@{/brs/admin/category/} + ${category.id} + '/edit'"
                       class="btn btn-sm btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>
        </table>


    </div>


    <!-- floating toast -->
    <th:block
            th:replace="~{fragments/floating-toast-fragment :: floating_toast(errorResponse = ${message})}">
    </th:block>

    <!-- Modal -->

    <div class="modal fade" id="staticBackdrop"
         data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/brs/admin/category/save}"
                      th:object="${categoryRequest}"
                      th:classappend="${showForm}? 'error-modal':''"
                      th:attrappend="update-form=${showModal}"
                      th:method="GET"
                >
                    <div class="modal-header">
                        <th:block th:if="${showModal}">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Update category</h1>
                        </th:block>
                        <th:block th:unless="${showModal}">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Create New category</h1>
                        </th:block>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <input type="text" th:field="*{id}" hidden>

                        <div class="form-group">
                            <label for="categoryName">Category Name</label>
                            <input th:field="*{name}"
                                   th:classappend="*{#fields.hasErrors('name')}? 'is-invalid'"
                                   type="text" class="form-control" id="categoryName"
                                   placeholder="eg:Science & Technology">
                            <span
                                    th:if="${#fields.hasErrors('name')}"
                                    th:errors="*{name}"
                                    class="invalid-feedback"
                            >Field Error</span>
                        </div>
                        <div class="form-group">
                            <label for="categoryDescription">Description</label>
                            <textarea th:field="*{description}"
                                      th:classappend="*{#fields.hasErrors('description')}? 'is-invalid'"
                                      class="form-control error-field" id="categoryDescription"
                                      rows="3">
                            </textarea>
                            <span
                                    th:if="${#fields.hasErrors('description')}"
                                    th:errors="*{description}"
                                    class="invalid-feedback"
                            >Name error</span>
                            <!--                            <span th:if="${#fields.hasErrors('description')}" th:errors="${description}"></span>-->
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit"
                                class="btn btn-sm" th:classappend="!${showModal}?'btn-success':'btn-warning'"
                                th:text="${showModal}?'Update':'Create'"
                        >Create
                        </button>
                        <button type="reset" class="btn btn-sm btn-info">Reset</button>
                    </div>

                    <div th:object="${categoryRequest}"
                         class="alert alert-danger alert-dismissible fade show mt-3" th:if="${#fields.hasAnyErrors()}">
                        <strong>Error! </strong>
                        <hr>
                        <ul>
                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                        </ul>

                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                </form>
            </div>

        </div>


    </div>


    <th:block th:insert="~{fragments/utility-fragments :: common_scripts}"></th:block>


</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script>
    $(document).ready(function () {
    });

    $(document).ready(function () {

        var hasClass = $(".modal-content form").hasClass("error-modal");

        console.log("error Parent", $(".modal-content form"))


        if(hasClass){
            $("#staticBackdrop").modal('show');
        }
        let isUpdateForm = $(".modal-content form").attr("update-form");
        console.log("update-form", typeof isUpdateForm)

        if(isUpdateForm == "true"){
            console.log("inside is update")
            $("#staticBackdrop").modal('show');
        }
    })
</script>


</body>
</html>