<!DOCTYPE html>
<form
        th:fragment="author_form(authorRequest)"
        action="/brs/admin/author/save"
        th:object="${authorRequest}"
        class="d-flex flex-column gap-4"
>
    <h1 th:if="*{id} ? 'Update Author' : 'Register a New Author'"></h1>
    <input type="text" th:field="*{id}" hidden>

    <div class="form-group">
        <label for="authorName">Author Name</label>
        <input th:field="*{name}"
               type="text" class="form-control" id="authorName" placeholder="eg: Shashi Kumar Panta">
    </div>

    <div class="form-group">
        <label for="authorEmail">Email</label>
        <input th:field="*{email}"
               type="email" class="form-control" id="authorEmail" aria-describedby="authorEmailHelp"
               placeholder="Enter email">
        <small id="authorEmailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="authorPhoneNo">Phone Number</label>
        <input th:field="*{mobileNumber}"
               class="form-control" type="text" id="authorPhoneNo" name="phone" placeholder="eg: 9812347567">
        <!--        <input type="number" class="form-control" id="authorPhoneNo"  placeholder="eg: 9812347567">-->
    </div>

    <button
            type="submit"
            class="btn"
            th:classappend="*{id}?'btn-info': 'btn-success'"
            th:text="*{id}? 'Update' : 'Save'"
    >{{Save}} Author</button>
</form>


<!-- Member form -->
<form
        th:fragment="member_form(memberRequest)"
        action="/brs/admin/member/save"
        th:object="${memberRequest}"
        class="d-flex flex-column gap-4"
>
    <h1 th:if="${id} ? 'Update Member' : 'Register a New member'"></h1>

    <input type="text" th:field="*{id}" hidden>

    <div class="form-group">
        <label for="authorName">Member Name</label>
        <input th:field="*{name}"
               type="text" class="form-control" id="memberName" placeholder="eg: Shashi Kumar Panta">
    </div>

    <div class="form-group">
        <label for="authorEmail">Email</label>
        <input th:field="*{email}"
               type="email" class="form-control" id="memberEmail" aria-describedby="authorEmailHelp"
               placeholder="Enter email">
        <small id="memberEmailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="authorPhoneNo">Phone Number</label>
        <input th:field="*{mobileNumber}"
               class="form-control" type="text" id="memberPhoneNumber" name="phone" placeholder="eg: 9812347567">
        <!--        <input type="number" class="form-control" id="authorPhoneNo"  placeholder="eg: 9812347567">-->
    </div>
    <div class="form-group">
        <label for="authorPhoneNo">Address</label>
        <input th:field="*{address}"
               class="form-control" type="text" id="memberAddress" name="phone" placeholder="eg: Nayabasti">
    </div>

    <div>
        <button
                type="submit"
                class="btn"
                th:classappend="*{id}?'btn-info': 'btn-success'"
                th:text="*{id}? 'Update' : 'Save'"
        >{{Save}} Member</button>
        <button type="reset" class="btn btn-dark" >Reset</button>
    </div>

</form>