<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/utility-fragments :: common_header(~{::title}, ~{::link})}">
    <meta charset="UTF-8">
    <title>Base Template</title>

    <link rel="stylesheet" href="">
</head>
<body>

<!-- SIDEBAR MENU -->
<th:block th:replace="~{fragments/utility-fragments :: sidebar_toggle}"></th:block>
<th:block th:replace="~{fragments/off-canvas-menu :: side_menu}"></th:block>

<div class="container">

    <div class="container d-flex justify-content-evenly" style="flex-wrap: wrap;">
        <th:block th:each="book : ${bookList}">
            <div class="card" style="width: 18rem; margin-bottom: 2em;">
                <img th:src="@{/uploads/file(filename= *{book.fileName})}"
                     class="img-thumbnail"
                     th:alt="*{book.bookName}" alt="..."
                     style="width: 100%; height: 10em; object-fit: cover; "
                >
                <div class="card-body">
                    <h5 th:text="${book.bookName}" class="card-title">Card title</h5>
                    <span th:text="${book.publishedDate}"
                          class="card-text"></span>
<!--                    <a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </th:block>


    </div>






<!--    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>-->

<!--    <div id="chartContainer" style="height: 370px; width: 100%;"></div>-->


<!--    <button type="button" class="btn btn-primary" id="liveToastBtn">-->
<!--        Show live toast-->
<!--    </button>-->

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div
                id="liveToast"
                class="toast"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
        >
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="..."/>
                <strong class="me-auto">Bootstrap</strong>
                <small>11 mins ago</small>
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="toast"
                        aria-label="Close"
                ></button>
            </div>
            <div class="toast-body">Hello, world! This is a toast message.</div>
        </div>
    </div>
</div>


<!-- Common Scripts-->
<th:block th:replace="~{fragments/utility-fragments :: common_scripts}"></th:block>

<!-- Chart js-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">

</script>

<script>
    var xyValues = [
        {x:50, y:7},
        {x:60, y:8},
        {x:70, y:8},
        {x:80, y:9},
        {x:90, y:9},
        {x:100, y:9},
        {x:110, y:10},
        {x:120, y:11},
        {x:130, y:14},
        {x:140, y:14},
        {x:150, y:15}
    ];

    new Chart("myChart", {
        type: "scatter",
        data: {
            datasets: [{
                pointRadius: 4,
                pointBackgroundColor: "rgb(0,0,255)",
                data: xyValues
            }]
        },
        options: {
            legend: {display: false},
            scales: {
                xAxes: [{ticks: {min: 40, max:160}}],
                yAxes: [{ticks: {min: 6, max:16}}],
            }
        }
    });


</script>

<script type="text/javascript">
    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "light1", // "light2", "dark1", "dark2"
            animationEnabled: false, // change to true
            title:{
                text: "Basic Column Chart"
            },
            data: [
                {
                    // Change type to "bar", "area", "spline", "pie",etc.
                    type: "column",
                    dataPoints: [
                        { label: "apple",  y: 10  },
                        { label: "orange", y: 15  },
                        { label: "banana", y: 25  },
                        { label: "mango",  y: 30  },
                        { label: "grape",  y: 28  }
                    ]
                }
            ]
        });
        chart.render();

    }
</script>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"> </script>


</body>
</html>