<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/utility-fragments :: common_header(~{::title}, ~{::link})}">
    <meta charset="UTF-8">
    <title>Base Template</title>

    <link rel="stylesheet" href="">
</head>
<body class="container">

<!-- SIDEBAR MENU -->
<th:block th:replace="~{fragments/utility-fragments :: sidebar_toggle}"></th:block>
<th:block th:replace="~{fragments/off-canvas-menu :: side-menu}"></th:block>

<button type="button" class="btn btn-primary" id="liveToastBtn">
    Show live toast
</button>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div
            id="liveToast"
            class="toast"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
    >
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="..."/>
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="toast"
                    aria-label="Close"
            ></button>
        </div>
        <div class="toast-body">Hello, world! This is a toast message.</div>
    </div>
</div>


<!-- Common Scripts-->
<th:block th:replace="~{fragments/utility-fragments :: common_scripts}"></th:block>

</body>
</html>